{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
<!--	{% if created %}
	<p>{% trans %}User {{ name }} was created successfully{% endtrans %}!</p>
	{% elif deleted %}
	<p>{% trans %}User {{ name }} was deleted successfully{% endtrans %}!</p>
	{% endif %} -->
	<h2>{% trans %}Settings{% endtrans %}</h2>
	<p>{% trans %}Change the Brightness of LED´s and maybe some others things (work in progress){% endtrans %}</p>
  <hr>
	<form id="set_circles_brightness" action="{{ url_for('game.managesettings') }}" method="post">
		<div class="form-group" id="brightness-circles">
				<label for="brightness_circles">{% trans %}Set brightness of circles in percentage{% endtrans %}: </label>
				<select class="form-control" id="brightness_circles" name="brightness_circles">
  					<option value="10">10</option>
	  				<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
						<option value="60">60</option>
						<option value="70">70</option>
						<option value="80">80</option>
						<option value="90">90</option>
						<option value="100">100</option>
				</select>
		</div>
		<input type="hidden" name="_action" value="set_circles_brightness">
		<button class="btn btn-outline-primary btn-lg" type="submit">{% trans %}Set brightness{% endtrans %}</button>
	</form>
	<hr>
	<form id="set_strips_brightness" action="{{ url_for('game.managesettings') }}" method="post">
		<div class="form-group" id="div-brightness-strips" >
			<label for="brightness_circles">{% trans %}Set brightness of strips in percentage{% endtrans %}: </label>
			<select class="form-control" id="brightness_strips" name="brightness_strips">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
					<option value="60">60</option>
					<option value="70">70</option>
					<option value="80">80</option>
					<option value="90">90</option>
					<option value="100">100</option>
			</select>
			</div>
			<input type="hidden" name="_action" value="set_strips_brightness">
			<button class="btn btn-outline-primary btn-lg" type="submit">{% trans %}Set brightness{% endtrans %}</button>
	</form>
	<hr>
	<p>{% trans %}Go{% endtrans %} <a href="{{ url_for('game.admin') }}">{% trans %}back{% endtrans %}</a> {% trans %}to the game setup when done{% endtrans %}!</p>
	<p><p>
	<input type="hidden" name="_action" value="shutdown">
	<button class="btn btn-outline-primary btn-lg" type="submit">{% trans %}System Shutdown{% endtrans %}</button>
</div>
<br>
{% endblock %}
